<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
    <title>The Holy Shick</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!--  test Remark  -->
    <script src="mark.js/mark.min.js" charset="UTF-8"></script>
    <script src='https://code.jquery.com/jquery-latest.min.js'></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
</head>


<body ng-controller="myCtrl">

    <div id="wrapper">

        <div id="header">
        </div>

		<div id="nav"> <!-- Open Nav -->

			<a href="index.html"><div id="logo"></div></a>

            <section class="bookBox">
                <section class="eyeLogo eye1"></section>
                <a href="#" class="linkBook linkBook1" id="1">The Old Testament</a>
            </section>

            <section class="bookBox">
                <section class="eyeLogo eye2"></section>
                <a href="" class="linkBook linkBook2">The New Testament</a>
            </section>

            <section class="bookBox">
                <section class="eyeLogo eye3"></section>
                <a href="" class="linkBook linkBook3">Koran</a>
            </section>

			<label>Sort by:</label>
            <div class="clear"></div>

			<a href="" ng-click="sortField='bookNo'; reverse =!reverse" class="linkSort" id="selectedSort">
                Chronological Order
            </a>
            <div class="clear"></div>

			<a href="" ng-click="sortField='positive'; reverse =!reverse" class="linkSort">
                Positivity Rate
            </a>

            <div class="clear"></div>
			<a href="" ng-click="sortField='negative'; reverse =!reverse" class="linkSort">
                Negativity Rate
            </a>

		</div> <!-- Close Nav -->


        <div id="menu"> <!-- Open Menu -->

            <br><br><br>
            <!--(Need to make this generic to final project)-->
            <div class="bookSchema" id="oldTestament" ng-show="currentPage=='religion'">
                <h1 class="titleBook1">The Old Testament</h1>
                <a href="#">
                    <div class="graphLine" id="{{book.name}}"
                         ng-repeat="book in books.OldTestament | orderBy: sortField :reverse"
                         ng-click="openBook(book.name, 'The Old Testament')"
                         title ="Neg:{{book.negative}} Pos:{{book.positive}}">

                        <svg style="-ms-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                            <defs>
                                <pattern id="img1" patternUnits="userSpaceOnUse" width="110" height="74">
                                    <image class="imgPattern" xlink:href="images/newPattern11.png" x="0" y="0" />
                                </pattern>
                            </defs>
                            <path ng-show="{{book.negative>0}}" d="M10 10 H {{book.negative/2.6+10}} V 90 H 10 L 10 10" fill="url(#img1)" />
                        </svg>
                        <svg>
                            <defs>
                                <pattern id="img1" patternUnits="userSpaceOnUse" width="110" height="74">
                                    <image class="imgPattern" xlink:href="images/newPattern11.png" x="0" y="0" />
                                 </pattern>
                            </defs>
                            <path ng-show="{{book.positive>0}}" d="M10 10 H {{book.positive/2.6+10}} V 90 H 10 L 10 10" fill="url(#img1)" />
                        </svg>
                        <span class="hoverName">
                            {{book.name}}
                        </span>
                    </div>
                </a>
            </div>

            <div id="newTestament" class="bookSchema" ng-show="currentPage=='religion'">
                <h1 class="titleBook2">The New Testament</h1>
                <a href="#">
                    <div class="graphLine" id="{{book.name}}"
                        ng-repeat="book in books.NewTestament | orderBy: sortField :reverse"
                        ng-click="openBook(book.name, 'The New Testament')"
                        title ="Neg:{{book.negative}} Pos:{{book.positive}}">
                        <svg style="-ms-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                            <defs>
                                <pattern id="img2" patternUnits="userSpaceOnUse" width="110" height="70">
                                    <image class="imgPattern" xlink:href="images/newPattern2.png" x="0" y="0" />
                                </pattern>
                            </defs>
                            <path ng-show="{{book.negative>0}}" d="M10 10 H {{book.negative/1.6+15}} V 90 H 10 L 10 10" fill="url(#img2)" />
                        </svg>
                        <svg>
                            <defs>
                                <pattern id="img2" patternUnits="userSpaceOnUse" width="110" height="70">
                                    <image class="imgPattern" xlink:href="images/newPattern2.png" x="0" y="0" />
                                </pattern>
                            </defs>
                            <path ng-show="{{book.positive>0}}" d="M10 10 H {{book.positive/1.6+15}} V 90 H 10 L 10 10" fill="url(#img2)" />
                        </svg>
                        <span class="hoverName">
                            {{book.name}}
                        </span>
                    </div>
                </a>
            </div>

            <div id="koran" class="bookSchema" ng-show="currentPage=='religion'">
                <h1 class="titleBook3">The Koran</h1>
                <a href="#">
                    <div class="graphLine" id="{{book.name}}"
                         ng-repeat="book in books.Koran | orderBy: sortField :reverse"
                         ng-click="openBook(book.name, 'The Koran')"
                         title ="Neg:{{book.negative}} Pos:{{book.positive}}">
                        <svg style="-ms-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1);">
                            <defs>
                                <pattern id="img3" patternUnits="userSpaceOnUse" width="110" height="70">
                                    <image class="imgPattern" xlink:href="images/newPattern3.png" x="0" y="0" />
                                </pattern>
                            </defs>
                            <path ng-show="{{book.negative>0}}" d="M10 10 H {{book.negative/1.2+15}} V 90 H 10 L 10 10" fill="url(#img3)" />
                        </svg>
                        <svg>
                            <defs>
                                <pattern id="img3" patternUnits="userSpaceOnUse" width="110" height="70">
                                    <image class="imgPattern" xlink:href="images/newPattern3.png" x="0" y="0" />
                                </pattern>
                            </defs>
                            <path  ng-show="{{book.positive>0}}" d="M10 10 H {{book.positive/1.2+15}} V 90 H 10 L 10 10" fill="url(#img3)" />
                        </svg>
                        <span class="hoverName">
                            {{book.name}}
                        </span>
                    </div>
                </a>
            </div>

        </div> <!-- Close Menu -->


        <div class="bookDetails"> <!-- Open Book Details -->

            <h1>Selected Books</h1>
            <div class="clear"></div>
            <a id="closeX" href="#">x</a>

            <div id="headerBook">
                <h2>{{bookName}} /</h2>
                <h3> {{religionName}}</h3>
                <a id="selectedSortChap" class="sortOpt" href="">
                    <h3 id="selectedSort">{{sortChapterName}}</h3>
                </a>
                <h4>Sort by</h4>
                <div id="sortsOpt" class="sortsOpt">
                    <a href="" class="sortOpt" ng-click="sortChapter='chapterNo'; sortChapterName='Chronological'" id="selectedSort">Chronological</a>
                    <div class="clear"></div>
                    <a href="" class="sortOpt" ng-click="sortChapter='-positive'; sortChapterName='Positivty rate'" id="selectedSort">Positivty rate</a>
                    <div class="clear"></div>
                    <a href="" class="sortOpt" ng-click="sortChapter='-negative'; sortChapterName='Negativity rate'" id="selectedSort">Negativity rate</a>
                </div>
            </div>

            <div id="graphBook">
                <section ng-repeat="chapter in books.chosenBook | orderBy: sortChapter :reverse">
                    <div style="width: 12px; height: 60px; float: left; margin-top:-10px; margin-left: 4px;">
<!--
                        <a href="#" title= "Chapter:{{chapter.chapterNo}}
                                            Pos:{{chapter.positive}}
                                            Neg:{{chapter.negative}}">
-->
                        <a href="#" class="fuck">
                            <svg style="-ms-transform: scaleY(-1); -webkit-transform: scaleY(-1); transform: scaleY(-1);" width="7" height="40px">
                                <rect width="20" height="{{chapter.positive/2+1}}" style="fill: #6699cc;">
                            </svg>

                            <h5 ng-click="showChapter(bookName, chapter.chapterNo);" class="chapterNum">
                                {{chapter.chapterNo}}
                            </h5>
                            <svg width="7" height="40">
                                <rect width="20" height="{{chapter.negative/2+1}}" style="fill: #e84949;">
                            </svg>
                            <svg ng-show="chapter.chapterNo==selectedChapter" style="margin-left:-47px; margin-top: -113px;">
                                <circle cx="50" cy="50" r="6" fill="rgba(0, 0, 0, 0.2)" />
                            </svg>
                        </a>
                    </div>
                </section>
            </div>

            <h2 id="chapterTitle">
                Chapter {{selectedChapter}}
            </h2>

            <div id="contentChapter" class="context">
                <p>{{currentChapter}}</p>
            </div>

        </div> <!-- Close Book Details -->

    </div> <!-- Close Wrapper -->

    <script src='js/remark.js'></script>
    <script src='js/behavior.js'></script>

</body>

</html>
